body {
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P';
  background-color: #e5e5e5;
  margin: 0;
}

header {
  display: flex;
  flex: auto;
  justify-content: center;
  color: #dd2020;
  padding: 1em 0;
}

.score-container {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  background-color: #a5a2a2;
  font-size: larger;
  padding: 1em 0;
}

.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
  padding: 0 1em;
}

.scorecard p {
  padding: .5em;
  margin: 0;
}

.directions {
  display: flex;
  flex: auto;
  justify-content: center;
}

.choices {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a5a2a5;
  padding: 1.5em 0;
}

button {
  font-family: 'Press Start 2P';
  background-color: white;
  color: #dd2020;
  font-size: larger;
  border-radius: 12px;
  border: 3px solid #dd2020;
  width: 10em;
  height: 2em;
  transition: 0.4s;
}

button:hover {
  background-color: #dd2020;
  color: white;
  border: 3px solid white;
}

.infobox {
  display: flex;
  justify-content: center;
}

#info-message {
  font-size: larger;
  color:#dd2020;
}

footer {
  display: flex;
  flex: auto;
  position: fixed;
  gap: 2em;
  bottom: 0%;
  left: 0%;
  width: 100%;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
footer a {
  color: white;
}